@media screen and (min-width: 768px) {
  .header {
    grid-template-columns: 8fr 7fr 6fr 5fr ;
  }
}

.header {
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: 0 0 0;
  background-color: bisque;
}

.first {
  display: grid;
  justify-self: center;
  grid-column-start: 2;
}

.twice {
  display: grid;
  grid-column-start: 8;
  justify-self: center;
}

.twice1 {
  display: grid;
  grid-column-start: 7;
  justify-self: center;
}

.twice2 {
  display: grid;
  grid-column-start: 6;
  justify-self: center;
}

.twice3 {
  display: grid;
  grid-column-start: 5;
  justify-self: center;
}